* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400 ;
    font-size: 25px;
}
.container {
    width: 540px;
    height: 540px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}
.container .logo {
    width: 100px;
    height: 100px;
    
}
.box {
    width: 352px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
}
label {
    display: block;
    padding-left: 2px;
    padding-top: 15px;
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 13px;
}
.email {
    width: 352px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #a6a6a6;
    
}
.email:hover {
    outline: 1px solid #be8580;
}
.box a button {
    width: 354px;
    height: 30px;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid rgba(187, 21, 19, 0.8);
    background: rgba(187, 21, 19, 0.8);
}
.box a button:hover {
    border: 1px solid rgba(187, 21, 19, 0.9);
    background: rgba(187, 21, 19, 0.9);
    transition: 1s;
}
.box p {
    font-size: 12px !important;
    line-height: 1.5 !important;
    margin-top: 50px;
}
.box p b {
    cursor: pointer;
}
.new--safety {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 10px;
    margin-bottom: 14px;
    line-height: 0;
}
span a button {
    width: 394px;
    height: 35px;
    padding: 5px;
    border:1px solid rgba(34, 56, 104, 0.8);
    border-radius: 3px;
    background: rgba(34, 56, 104, 0.8);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
span a button:hover {
    background: rgba(46, 63, 100, 0.9);
    border:1px solid rgba(46, 63, 100, 0.9);
    transition: 1s;
    
    
}